@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* ROOT */

:root
{
    --clr: #222327;
    --backgroundclr: #333;
    --alternatebgclr: #fdfdfd;
    --h1clr: #333;
    --pclr: #fdfdfd;
    --primaryclr: #59B8A2;
    --secondaryclr: #1C3253;
    --thirdclr: #bbb5ac;
    --fourthclr: #ffd101;
}

*, ::after, ::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background: var(--backgroundclr);
}

.site
{
    padding-top: 80px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dashboard
{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dashboard h1
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--alternatebgclr);
    text-transform: uppercase;
    color: var(--backgroundclr);
    /* color: var(--primaryclr); */
    font-size: 2.5rem;
    letter-spacing: 2.5px;
    -webkit-text-stroke: 1px var(--primaryclr);
    text-shadow: var(--primaryclr) 1px 0 10px;
}

.statistics
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--alternatebgclr);
}

.statistics .statbox
{
    width: 90%;
    height: 100px;
    background: rgba(255,255,255,0.8);
    border-radius: 20px;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics .statbox h2
{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--h1clr);
    letter-spacing: 2px;
}

.statistics .statbox p
{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 800;
    color: var(--primaryclr);
    letter-spacing: 5px;
}

.siteadmin
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--alternatebgclr);
}

.siteadmin .adminbox
{
    width: 90%;
    height: auto;
    min-height: 400px;
    max-height: 600px;
    overflow: auto;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.siteadmin .members, .siteadmin .chapters, .siteadmin .write
{
    display: none;
}

.write
{
    display: none;
}

.siteadmin .adminbox article
{
    background-color: var(--backgroundclr);
    width: 100%;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.siteadmin .adminbox article h2
{
    width: 100%;
    padding: 10px;
}

.siteadmin .adminbox article h2 a
{
    text-decoration: none;
    color: var(--primaryclr);
    font-size: 1rem;
}

.siteadmin .adminbox article .comment
{
    color: var(--pclr);
    width: 90%;
    padding: 5px 0;
    border-top: 1px solid var(--pclr);
    border-bottom: 1px solid var(--pclr);
}

.siteadmin .adminbox article .auth
{
    width: 100%;
    padding: 2px 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    color: var(--primaryclr);
    font-size: 0.8rem;
}

.siteadmin .adminbox article .advice
{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.siteadmin .adminbox article .advice a
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    margin: 0px 10px;
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--backgroundclr);
    background-color: var(--alternatebgclr);
    border: 3px solid var(--primaryclr);
    border-radius: 20px;
}
