/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* ROOT */

:root
{
    --primaryclr: #59B8A2;
    --secondaryclr: #1C3253;
    --thirdclr: #bbb5ac;
    --fourthclr: ;
}

*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: url(/images/alaska5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    min-height: 100vh;
}


form
{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px 10px;
    background: rgba(0,0,0,.8);
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

img
{
    max-width: 70%;    
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

form h1
{
    margin: 0 0 30px;
    padding: 0;
    color: var(--thirdclr);
    text-align: center;
}

form .inputBox
{
    position: relative;
    width: 100%;
}

form .inputBox input
{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--thirdclr);
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid var(--thirdclr);
    outline: none;
    background: transparent;
}

form p
{
    color: var(--thirdclr);
    animation: glow 2s linear infinite;
}

@keyframes glow
{
    0%
    {
        text-shadow: 0 0 10px var(--primaryclr);
    }
    25%
    {
        text-shadow: 0 0 10px var(--primaryclr),
                     0 0 20px var(--primaryclr);
    }
    50%
    {
        text-shadow: 0 0 10px var(--primaryclr),
                     0 0 20px var(--primaryclr),
                     0 0 40px var(--primaryclr);
    }
    75%
    {
        text-shadow: 0 0 10px var(--primaryclr),
                     0 0 20px var(--primaryclr);
    }
    100%
    {
        text-shadow: 0 0 10px var(--primaryclr);
    }
}

form .inputBox label
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--thirdclr);
    pointer-events: none;
    transition: .5s;
}

form .inputBox input:focus ~ label,
form .inputBox input:valid ~ label
{
    top: -18px;
    left: 0;
    color: var(--primaryclr);
    font-size: 12px;
}

form button
{
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: var(--secondaryclr);
    color: var(--thirdclr);
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 00.05em;
    text-decoration: none;
    transition: 0.5s;
}

form button:hover
{
    letter-spacing: 0.2em;
    cursor: pointer;
    box-shadow: 0 0 10px var(--primaryclr),
                0 0 20px var(--primaryclr),
                0 0 40px var(--primaryclr);
}

.links
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.links button
{
    width: 55%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.links button a
{
    text-decoration: none;
    color: var(--thirdclr);
}

form ul
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 30px 20px 10px 20px;
}

form ul li
{
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

form ul li a
{
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: var(--thirdclr);
    font-weight: 600;
    transition: 0.5s;
    transition-delay: 0.5s;
}

form ul li a:hover
{
    transform: translateY(-20px);
    transition-delay: 0s;
}

form ul li a::before
{
    content: attr(data-text);
    position: absolute;
    bottom: -10px;
    pointer-events: none;
    height: 10px;
    flex-wrap: nowrap;
    z-index: 1;
    font-size: 10px;
    color: var(--primaryclr);
    letter-spacing: 100px;
    opacity: 0;
    transition: 0.5s;
    text-shadow: 0 0 10px var(--primaryclr),
                 0 0 20px var(--primaryclr),
                 0 0 40px var(--primaryclr);
}

form ul li a:hover::before
{
    opacity: 1;
    letter-spacing: 6px;
    transition-delay: 0.25s;
}


@media screen and (max-width: 1024px)
{
    body
    {
        padding-top: 50px;
    }
    
    form
    {
        width: 300px;
        background: rgba(0,0,0,.6);
    }

    .links button
    {
        width: 60%;
    }

    .links button:hover
    {
        letter-spacing: normal;
    }
    form ul li a::before
    {
        opacity: 1;
        letter-spacing: 6px;
    }

    form ul li a:hover
    {
        transform: translateY(0px);
    }
}